*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#Demo{
    height: 100%;
    width: 95%;
    padding:20px 10px ;
    background-color: dimgray;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns:repeat(8,1fr);
    gap: 30px;
}

.posters{
    height: 280px;
    border: 2px solid black;
    width:215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posters img{
    height: 175px;
    width: 210px;
}
.main{
    height: 280px;
    border: 2px solid black;
    width:215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main img{
    height: 175px;
    width: 210px;
}
.linksbuttons{
    height: 40px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
#btn1{
    height: 35px;
    width: 80px;
    margin: 20px;
    font-weight: bold;
}
#btn2{
    height: 35px;
    width: 80px;
    margin: 20px;
    font-weight: bold;
}
#btn3{
    height: 35px;
    width: 80px;
    margin: 20px;
    font-weight: bold;
}
#btn4{
    height: 35px;
    width: 90px;
    margin: 20px;
    font-weight: bold;
}
.details{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
